body {
    background-image: linear-gradient(to right, #4158d0, #c850c0);
}

* {
    font: inherit;
}

.container {
    background-color: rgb(224, 221, 221);
    box-shadow: 3px 3px 10px rgb(109, 109, 109);
}

@media screen and (max-width: 1200px) {
    div.nav.row>select {
        font-size: 12px;
    }
}

@media screen and (max-width: 990px) {
    div.nav.row>select {
        font-size: 8.2px;
    }
}

@media screen and (max-width: 768px) {
    div.nav.row>select {
        display: none;
    }
    div.nav.row>h2 {
        font-size: large;
        text-align: center;
    }
}